apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: pirate

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - secrets.yaml

  - transmission-gluetun.yaml
  - transmission-openvpn.yaml

  - jackett.yaml
  - sonarr.yaml
  - radarr.yaml
  - bazarr.yaml
  - prowlarr.yaml
  - overseerr.yaml

  # - plex.yaml
  - jellyfin.yaml
