apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: homepi

configMapGenerator:
  - name: mosquitto-config
    files:
      - config-map/mosquitto/mosquitto.conf
      - config-map/mosquitto/password

resources:
  - namespace.yaml
  - serviceaccount.yaml

  - secrets.yaml

  - mosquitto.yaml
  - unifi-mongo.yaml
  - unifi.yaml
  - postgres.yaml
  - paradox.yaml
  - zwavejs.yaml
  - zigbeemqtt.yaml
  - matter-server.yaml

  - hass.yaml
